.contact-page .contact-map iframe {
    height: 400px;
    width: 100%;
}

.contact-page .contact-info {
    font-size: 12px;
    color: #666;
}

.contact-page .contact-info .contact-i {
    display: inline-block;
    height: 30px;
    width: 30px;
    text-align: center;
    border-radius: 50px;
    color: #fff;
    margin-right: 16px;
    float: left;
}

.contact-page .contact-info .contact-i i {
    padding-top: 8px;
    font-size: 14px;
}

.contact-page .contact-info .contact-span {
    display: block;
}

.contact-page .contact-title h4 {
    margin-bottom: 30px;
}

.contact-page .contact-info .address,
.contact-page .contact-info .phone-no {
    margin-bottom: 10px;
}
